# modules
node_modules
package-lock.json

# environment variables
.env

# docker configuration
docker-volumes/**
!docker-volumes/postgresql/
!docker-volumes/postgresql/initdb
!docker-volumes/postgresql/initdb/**

# test
coverage
